<p id="notice"><%= notice %></p>
<!-- Small control panel for the app -->
<%= link_to 'New Transaction', new_transaction_path, class: "btn btn-default" %>
<br/>
<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger") %>
<br/>
<h3>Your current balance is: <%= @current_balance %> Bambeuros</h3>

<!-- Split the view in 2 colums for transactions sent and received -->
<div class="row">
	<div class="col-sm-6">
    	<h1>Transactions sent</h1>
    	<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>From</th>
		        <th>To</th>
		        <th>Amount</th>
		        <th>Date</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @transaction_sent.each do |transaction| %>
			      <tr>
			        <td><%= current_user.email %></td>
			        <td><%= transaction.to.user.email %></td>
			        <td><%= transaction.amount %> B</td>
			        <td><%= transaction.created_at %></td>
			      </tr>
		      	<% end %>
		    </tbody>
	  	</table>
  	</div>
  <div class="col-sm-6">
    <h1>Transactions received</h1>
        <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>From</th>
		        <th>To</th>
		        <th>Amount</th>
		        <th>Date</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @transaction_received.each do |transaction| %>
			      <tr>
			      	<td><%= transaction.from.user.email %></td>
				    <td><%= current_user.email %></td>
			       	<td><%= transaction.amount %> B</td>
			        <td><%= transaction.created_at %></td>
			      </tr>
			     <% end %>
		    </tbody>
	  </table>
  </div>
</div>

